html * {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

body {
  font-size: 15px;
  position: relative;
  height: 100%;
  background: #eeeeee;
}

.max-wrapper {
  min-height: 100vh;
  padding-bottom: 1em;
  position: relative;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.66rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
}

main {
  padding: 1rem;
}

.CopyrightNotice {
}

.TopNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 1vh 2vw 0 2vw;
}

.LandingHeader {
  text-align: center;
}

.LandingHeader h1 {
  font-size: 3rem;
}

.LandingHeader aside {
  margin-top: 1rem;
}

.LandingHeader aside > em {
  font-style: italic;
}

.Card {
  background: #ffffff;
  border-radius: 2px;
  max-width: 30rem;
  margin: 0 auto;
}

.LoginForm {
  padding: 1vh;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
}

.LoginForm > input {
  font-size: 0.75rem;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 0.1rem grey;
  outline: none;
  margin: 1em auto 0 auto;
  width: 15em;
  background: inherit;
}

.LoginForm > input::placeholder {
  color: #999999;
}

.LoginForm__buttonBlock .button {
  margin: 1em;
}

.LoginForm > input:focus {
  border-color: #0051a3;
  transition: 0.5s;
}

.button {
  display: inline-block;
  font-size: 0.8rem;
  text-decoration: none;
  border: none;
  background: #0051a3;
  color: #eeeeee;
  padding: 0.5em 1em;
  border: solid 2px #0051a3;
  border-radius: 4px;
  line-height: 1rem;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background: #0078f2;
  border: solid 2px #0078f2;
  transition: 0.25s;
}

.button:active {
  border-bottom: solid 2px #0051a3;
}
