.AnswerFeedback {
  text-align: center;
}

.AnswerFeedback_previous {
  color: var(--color-success-strong);
  font-weight: 700;
  margin: 1em 0;
}

.AnswerFeedback_previous--incorrect {
  color: var(--color-danger);
}

.AnswerFeedback_response {
  font-size: var(--modular-4);
  margin: 1em 0;
  font-weight: 700;
}

.correct-answer {
  margin: 1em 0;
}

.AnswerFeedback_history {
  margin: 1em 0;
}

.AnswerFeedback_inline--strong {
  font-weight: 700;
}
