.Button {
  display: inline-block;
  padding: 0.5em 1em;

  font-size: 0.8rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1rem;

  color: #eeeeee;

  border: solid 2px;
  border-radius: 4px;

  margin: 0.5em;
}

.Button:hover,
.Button:focus {
  transition: 0.25s;
  cursor: pointer;
}

.Button--default {
  background: var(--color-primary);
  border-color: var(--color-primary);
}

.Button--default:hover,
.Button--default:focus {
  background: var(--color-primary-strong);
  border-color: var(--color-primary-strong);
}

.Button--danger {
  background: var(--color-danger);
  border-color: var(--color-danger);
}

.Button--danger:hover,
.Button--danger:focus {
  background: var(--color-danger-strong);
  border-color: var(--color-danger-strong);
}

.Button--success {
  background: var(--color-success);
  border-color: var(--color-success);
}

.Button--success:hover,
.Button--success:focus {
  background: var(--color-success-strong);
  border-color: var(--color-success-strong);
}

.LinkButton {
  text-decoration: none;
}
