.Dashboard {
  padding: 2vw;
}

.Dashboard_title {
  font-size: var(--modular-1);
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.Dashboard_chart_title {
  font-size: var(--modular-4);
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.Dashboard_question {
  text-align: center;
  font-size: var(--modular-4);
}

.Dashboard_scoreChart {
  margin: 0 auto;
  width: 300px;
}

.Dashboard_streak {
  display: block;
  text-align: center;
  margin-top: 1em;
}

.Dashboard_streakInfo {
  font-weight: 700;
}

.scoreboard {
  margin-top: 20px;
}
.scoreboard span {
  margin-left: 15px;
}
