.Dashboard {
  padding: 2vw;
}

.Dashboard_question {
  text-align: center;
  font-size: var(--modular-4);
}

.Dashboard_scoreChart {
  margin: 0 auto;
  width: 300px;
}

.scoreboard {
  margin-top: 20px;
}
.scoreboard span {
  margin-left: 15px;
}
