.HeaderBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  background-color: lightskyblue;
}

.HeaderBar_link--active {
  color: inherit;
  text-decoration: none;
}
