.HeaderBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;

  background-color: var(--color-dark);
}

.HeaderBar,
.HeaderBar_link {
  text-decoration: none;
}

.HeaderBar,
.HeaderBar_link,
.HeaderBar_link:visited {
  color: var(--color-beige);
}

.HeaderBar_link--active,
.HeaderBar_link--active:visited {
  font-weight: bold;
}
