.history {
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.history-title {
  font-size: var(--modular-1);
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.history-chart-title {
  font-size: var(--modular-4);
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.question-list-title {
  font-size: var(--modular-4);
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.history-question-container {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 90px;
  margin-right: 90px;
}

.history-link-to-dashboard {
  text-align: center;
}